<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong> Objectives: </strong>
<ul>
    <li> List popular languages for Data Science </li>
    <li> List popular libraries for Data Science </li>
    <li> List popular tools for Data Science </li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python </li>
    <li> R </li>
    <li> Scala </li>
    <li> Julia </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li> Pandas </li>
    <li> NumPy </li>
    <li> SciPy </li>
</ol>

<table>
    <tr>
    <th> Data Science Tools </th>
    </tr>
    <tr><td> Spyder </td></tr>
    <tr><td> tool2 </td></tr>
    <tr><td> tool2 </td></tr>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by divinding by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

<h2> Author </h2>
Jammula Dinesh Reddy